/* Mobile min- 320 to max  768px*/
/* Tablet min- 768 to max  1024px */
/* Laptop min 1024px to max 1440px */



@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .container {
      max-width: 1200px;
    }
    .about {
        width: 100%;
    }
    .mobile-screen img {
        max-width: 530px;
        height: 530px;
    }
}


@media screen and (min-width: 639px) and (max-width: 769px) {
    .container {
        max-width: 769px;
        height: 5600px;
    }
    header {
        max-width: 769px;
    }
    .hero-block .hero-background {
        max-width: 769px;
    }
    .hero-video{
        left: 0;
    }
    .favorite-container {
        max-width: 769px;
    }
    .slide-first, .slide-second {
        margin-right: 38px;
        margin-left: 38px;
    }
    .about {
        margin-top: 177px;
    }
    .about h2 {
        max-width: 768px;
        padding-right: 24px;
    }
    .about-container {
        flex-direction: column;
    }
    .column-1 .first-wrapper, .column-2 .first-wrapper {
        width: 685px;
    }
    .column-1 .second-wrapper, .column-2 .second-wrapper {
        display: none;
    }
    .mobile-app {
        height: 800px;
        margin-top: 637px;
        margin-bottom: 200px;
        flex-direction: column;
    }
    .mobile-app .mobile-offer {
        margin-right: 57px;
        margin-top: -38px;
    }
    .mobile-app .mobile-offer h2 {
        margin-right: -5px;
    }
    .mobile-app .mobile-offer p {
        margin-right: -32px;
    }
    .mobile-screen {
        margin-top: 6px;
    }
    footer {
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }
    .footer-content {
        flex-direction: column;
        width: 769px;
        height: 736px;
        padding-left: 60px;
        padding-top: 58px;
        margin-top: 12px;
    }
    .footer-offer {
        max-width: 530px;
        margin-top: -66px;
    }
    .contacts-info {
        max-width: 530px;
        margin-top: -215px;
    }
}

  
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        height: 6000px;
    }
    .slide-first, .slide-second {
        margin-right: 40px;
        margin-left: 40px;
    }
    .about {
        height: 2150px;
    }
    .about-container {
        flex-direction: column;
    }
    .mobile-app {
        flex-direction: column;
        height: 1250px;
        margin-top: 470px;
    }
    footer {
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }
    .footer-content {
        width: 100%;
        height: 736px;
        flex-direction: column;
        max-width: 1024px;
        margin-top: 0;
    }
}


@media screen and (max-width: 381px) {
    .container {
      max-width: 381px;
      height: 4660px;
    }
    header {
      max-width: 381px;
      margin-bottom: 0;
    }
    header .header-menu {
      padding: 17px 20px;
    }
    .hero-block .hero-text {
        margin-left: -127px;
        margin-right: 42px;
        padding-top: 47px;
    }
    .hero-block h1 {
        font-size: 42px;
        max-width: 381px;
        line-height: 115%;
    }
    .favorite-block {
        height: 720px;
        margin-top: -9px;
    }
    .favorite-block h2 {
        font-size: 32px;
        padding-top: 25px;
    }
    .favorite-container {
        max-width: 381px;
        margin-top: 0;
        height: 550px;
    }
    .slide-first, .slide-second {
        display: none;
    }
    .slider-content {
        margin-bottom: -40px;
    }
    .slider-content img {
        width: 348px;
        height: 348px;
    }
    .controls {
        margin-top: 22px;
    }
    .about {
        height: 1650px;
    }
    .about h2 {
        font-size: 32px;
        padding-right: 13px;
        padding-left: 16px;
    }
    .about-container {
        max-width: 381px;
        flex-direction: column;
    }
    .column-1 .first-wrapper, .column-2 .first-wrapper {
        max-width: 381px;
        padding-left: 30px;
        padding-right: 30px;
      }
    .column-1 .second-wrapper, .column-2 .second-wrapper {
        display: none;
    }
    .column-1 img, .column-2 img {
        max-width: 381px;
        width: 100%;
        border-radius: 20px;
    }
    .mobile-app {
        flex-direction: column;
        height: 800px;
        margin-top: 8px;
        margin-left: 20px;
    }
    .mobile-app .mobile-offer {
        margin-top: 8px;
    }
    .mobile-app .mobile-offer h2 {
        font-size: 32px;
    }
    .mobile-app .buttons {
        flex-direction: column;
        gap: 26px;
    }
    .mobile-screen {
        margin-top: -19px;
        margin-left: -21px;
    }
    .mobile-screen img {
        max-width: 348px;
        height: 348px;
    }
    footer {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .footer-content {
        width: 100%;
        height: 526px;
        flex-direction: column;
        margin-top: 85px;
        gap: 0;
    }
    .footer-offer {
        max-width: 530px;
        width: 100%;
        margin-top: -8px;
        margin-left: -160px;
    }
}


@media screen and (min-width: 381px) and (max-width: 639px) {
    .container {
        max-width: 380px;
        height: 5250px;
    }
    .hero-block .hero-text {
        margin-left: -66px;
        max-width: 638px;
    }
    .hero-block h1 {
        font-size: 48px;
        max-width: 381px;
        line-height: 115%;
    }
    .favorite-block h2 {
        font-size: 48px;
    }
    .favorite-container {
        max-width: 381px;
    }
    .slide-first, .slide-second {
        display: none;
    }
    .slider-content img {
        width: 348px;
        height: 348px;
    }
    .about {
        height: 1300px;
    }
    .about h2 {
        font-size: 48px;
        padding-right: 13px;
        padding-left: 16px;
    }
    .about-container {
        max-width: 381px;
        flex-direction: column;
    }
    .column-1 .first-wrapper, .column-2 .first-wrapper {
        max-width: 381px;
        padding-left: 30px;
        padding-right: 30px;
      }
    .column-1 .second-wrapper, .column-2 .second-wrapper {
        display: none;
        }
    .column-1 img, .column-2 img {
        max-width: 381px;
        width: 100%;
        border-radius: 20px;
    }
    .mobile-app {
        flex-direction: column;
        height: 800px;
        margin-top: 8px;
        margin-left: 20px;
        margin-top: 680px;
      }
    .mobile-app .mobile-offer {
        margin-top: 8px;
    }
    .mobile-app .buttons {
        flex-direction: column;
        gap: 26px;
    }
    .mobile-screen {
        margin-top: 6px;
    }
    .mobile-screen {
        margin-top: 65px;
        margin-left: -21px;
    }
    .mobile-screen img {
        max-width: 400px;
        height: 400px;
    }
    footer {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
    .footer-content {
        flex-direction: column;
        width: 100%;
        max-width: 639px;
        height: 736px;
        padding-left: 60px;
        padding-top: 58px;
        margin-top: 130px;
    }
    .footer-content {
        flex-direction: column;
        width: 100%;
        max-width: 639px;
        height: 736px;
        margin-top: 85px;
    }
    .footer-offer .offer-text h2 {
        font-size: 48px;
    }
}


@media screen and (max-width: 379px) {
    header .header-menu nav {
      display: none;
      padding: 20px 20px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1440px) {
    .menu-ul{
      padding-right: 0;
    }
}


@media screen and (max-width: 857px) {
    header .burger{
      display: block;
    }
    nav{
      display: none;
    }
}


@media screen and (min-width: 379px) and (max-width: 769px){
    .burger{
      display: block;
    }
    .menu-wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .menu-ul{
      display: flex;
      align-items: center;
      gap: 55px;
      padding: 0;
      flex-direction: column;
    }
    .nav-header{
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #E1D4C9;
      z-index: 10;
      display: flex;
      align-items: center;
      align-self: center;
      justify-content: center;
      gap: 100px;
      flex-direction: column;
      padding-top: 120px;
      padding-left: 33px;
      transition: .3s linear;
      transform: translateX(100%);
    }
    .nav-active{
      transform: translateX(0);
    }
    .menu-li a{
      font-size: 32px !important;
    }
    .coffee-menu{
      margin-left: -42px;
      padding: 0;
      margin-top: -40px;
    }
    .coffee-menu a{
      display: flex;
      gap: 20px;
      font-size: 32px !important;
      svg{
        width: 40px;
        height: 40px;
      }
    }
    .burger-close{
      position: absolute;
      top: 27px;
      right: 44px;
  
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
  
      border-radius: 100px;
      border: 1px solid  #665F55;
      z-index: 11;
    }
    .close-line-first, .close-line-second{
      display: block;
      position: absolute;
      top: 50%;
      width: 16px;
      height: 1.5px;
      background-color: #403F3D;
    }
    .close-line-first{
      transform: translateY(-50%)  rotate(45deg);
    }
    .close-line-second{
      transform: translateY(-50%)  rotate(-45deg);
    }
    .logo-burger{
      display: block;
      position: absolute;
      top: 20px;
      left: 35px;
    }
    .hero-text {
      margin-left: -75px;
  }}


@media screen and (min-width: 379px) and (max-width: 639px){
    .hero-block {
        max-width: 381px;
        padding-left: 17px;
        padding-right: 17px;
    }
    .footer-offer .offer-text h2 {
        max-width: 768px;
        font-size: 32px !important;
        padding-left: 0px;
        margin-right: -165px;
        }
    .contacts-info {
        max-width: 530px;
        width: 177%;
        margin-left: -53px;
        margin-top: -97px;
    }
}

@media screen and (max-width: 381px){
    .hero-block .hero-background {
      /* background: url(images/hero-mobile.png); */
      max-width: 381px;
      height: 552px;
      padding-left: 13px;
    }
}


@media screen and (min-width: 381px) and (max-width: 369px) {
    .favorite-block {
      height: 720px;
      margin-top: -9px;
    }
}


@media screen and (min-width: 1024px) and (max-width: 1340px) {
    .favorite-container {
      width: 100%;
    }
    .about-container {
        max-width: 1340px;
        width: 88%;
    }
    .column-1 .first-wrapper, .column-2 .first-wrapper {
        max-width: 560px;
        height: 490px;
    }
    .column-1 .second-wrapper, .column-2 .second-wrapper {
        max-width: 560px;
        height: 330px;
    }
    .footer-content {
        width: 100%;
    }
}


@media screen and (min-width: 639px) and (max-width: 1024px) {
    .favorite-container {
      max-width: 1024px;
      width: 100%;
    }
}


@media screen and (min-width: 1024px) and (max-windth: 1440px) {
    .about {
      width: 100%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1228px) {
    .about {
      max-width: 1228px;
      width: 100%;
    }
    .about-container {
        width: 100%;
        margin-left: 0px;
        max-width: 1200px;
    }
}

 
@media screen and (min-width: 1024px) and (max-width: 1150px) {
    .about-container {
      margin-left: 15px;
    } 
    .column-1 .first-wrapper, .column-2 .first-wrapper {
      max-width: 510px;
      height: 440px;
    }
    .column-1 .second-wrapper, .column-2 .second-wrapper {
      max-width: 510px;
      height: 280px;
    }
}


@media screen and (min-width: 1024px) and (max-width: 1170px) {
    .about-container {
      max-width: 1170px;
      width: 100%;
    }
}


@media screen and (min-width: 381px) and (max-width: 468px) {
    .mobile-app {
      flex-direction: column;
      height: 800px;
      margin-top: 8px;
      margin-left: 20px;
    }
    .mobile-screen {
        margin-right: 10px;
    }
}


@media screen and (min-width: 529px) and (max-width: 638px) {
    .mobile-app {
      margin-top: 250px;
    }
}


@media screen and (min-width: 1024px) and (max-width: 1300px) {
    .mobile-app {
      margin-top: 0;
      padding-left: 20px;
      padding-right: 20px;
    }
  }


@media screen and (min-width: 638px) and (max-width: 737px) {
    .mobile-app {
        margin-top: 800px;
    }
}

 
@media screen and (max-width: 1025px) {
    .hero-block .hero-button::after {
      opacity: 1;
      transform: translateX(0);
  }}

@media screen and (min-width: 381px) and (max-width: 639px){
    .container{
      width: 100%;
      max-width: 638px;
    }
    footer{
      width: 100%;
      max-width: 638px;
    }
    .hero-block{
      max-width: 638px;
    }
    .header-menu{
      padding: 17px 20px;
    }
    h1{
      font-size: 42px !important;
      max-width: 380px;
      line-height: 115%;
    }
    .hero-text{
      margin-left: 3px;
      margin-right: 15px;
      padding-top: 59px;
    }
    .footer-offer{
      max-width: 530px;
      width: 100%;
      padding-right: 50px;
      margin-right: 87px;
    }
    .contacts-info{
      max-width: 639px;
      padding-left: 92px;
    }
    .mobile-screen img{
      max-width: 380px;
    }
}