/* Mobile min- 320 to max  768px*/
/* Tablet min- 768 to max  1024px */
/* Laptop min 1024px to max 1440px */


@media screen and (min-width: 768px) and (max-width: 877px){
    .menu-ul{
        padding: 0;
    }
    header .header-menu nav {
        padding-right: 0px;
    }
    header .menu-li {
        padding-left: 32px;
    }
}
@media screen and (min-width: 320px) and (max-width: 768px){
    header .burger{
        display: block;
        right: 40px;
    }
    nav{
        display: none;
    }
    .coffee-menu{
        display: none;
    }
    .header-menu{
        padding: 0;
    }
}
@media screen and (min-width: 1121px) and (max-width: 1400px){
    .favorite-container{
        gap: 230px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1120px){
    .favorite-container{
        gap: 0;
    }
}
@media screen and (min-width: 1369px) and (max-width: 1400px){
    .column-1 .first-wrapper , .column-2 .first-wrapper,
    .first-wrapper img, .second-wrapper img{
        max-width: 630px;
        height: 560px;
    
    }
    .column-1 .second-wrapper, .column-2 .second-wrapper {
        max-width: 630px;
        height: 400px;
    }
    .about-container{
        margin-top: 20px;
    }
}
@media screen and (min-width: 1260px) and (max-width: 1370px){
    .column-1 .first-wrapper, .column-2 .first-wrapper {
        max-width: 600px;
        height: 530px;
    }
    .column-1 .second-wrapper, .column-2 .second-wrapper {
        max-width: 600px;
        height: 370px;
    }
    .about-container{
        margin-top: 20px;
        height: 1000px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1260px){
    .column-1 .first-wrapper, .column-2 .first-wrapper {
        max-width: 570px;
        height: 500px;
    }
    .column-1 .second-wrapper, .column-2 .second-wrapper {
        max-width: 570px;
        height: 340px;
    }
    .about-container{
        margin-top: 20px;
        height: 940px;
    }
}
@media screen and (min-width: 1138px) and (max-width: 1200px){
    .column-1 .first-wrapper, .column-2 .first-wrapper {
        max-width: 540px;
        height: 470px;
    }
    .column-1 .second-wrapper, .column-2 .second-wrapper {
        max-width: 540px;
        height: 310px;
    }
    .about-container{
        margin-top: 20px;
        height: 860px;
    }
}
@media screen and (min-width: 1078px) and (max-width: 1138px){
    .column-1 .first-wrapper, .column-2 .first-wrapper {
        max-width: 510px;
        height: 440px;
    }
    .column-1 .second-wrapper, .column-2 .second-wrapper {
        max-width: 510px;
        height: 290px;
    }
    .about-container{
        margin-top: 20px;
        height: 830px;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1078px){
    .column-1 .first-wrapper, .column-2 .first-wrapper {
        max-width: 480px;
        height: 410px;
    }
    .column-1 .second-wrapper, .column-2 .second-wrapper {
        max-width: 480px;
        height: 260px;
    }
    .about-container{
        margin-top: 20px;
        height: 800px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .about-container{
        flex-direction: column
    };
} 
