@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #E1D4C9;
  font-family: Inter;
}

body, h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  height: 4390px;
  margin: 0 auto;
}


header {
  max-width: 1440px;
  width: 100%;
  height: 744px;
  margin-bottom: 80px;
}
.logo{
  z-index: 100;
}

header .header-menu {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 120px;
}

header .header-menu nav {
  padding-right: 73px;
  padding-bottom: 10px;
}
header .header-menu nav a {
  position: relative;
  color: #403F3D;
  text-decoration: none;
}
header .header-menu nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #403F3D;
  transform: scaleX(0);
  transform-origin: bottom center;
  transition: transform 0.3s ease-in-out;
}
header .header-menu nav a:hover::before {
  transform: scaleX(1);
}
header .header-menu a {
  color: #403F3D;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
}
header .menu-li {
  display: inline-block;
  padding-left: 36px;
}
.menu-wrapper{
  display: flex;
  gap: 100px;
  align-items: center;
}
.coffee-menu{
  margin-top: -5px; 
  margin-right: -75px;
}
header .coffee-menu a {
  position: relative;
  color: #403F3D;
  text-decoration: none;
}
header .coffee-menu a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #403F3D;
  transform: scaleX(0);
  transform-origin: bottom center;
  transition: transform 0.3s ease-in-out;
}
header .coffee-menu a:hover::before {
  transform: scaleX(1);
}
header .coffee-menu-link {
  display: flex;
  flex-direction: row;
  gap: 8px;
  /* margin-top: -10px; */
}
header .coffee-menu-link img {
  padding-bottom: 5px;
}
header .burger {
  display: none;
}

header .burger .burger-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 100px;
  border: 1px solid #665F55;
}
header .burger .burger-items span {
  width: 16px;
  height: 1.5px;
  background-color: #403F3D;
  
}
.burger-line-first{
  margin-top: -1px;
}
.burger-line-second{
  margin-top: 7px;
}
.logo-burger{
  display: none;
}
.hero-block {
  position: relative;
  max-width: 1440px;
  height: 644px;
  padding-left: 40px;
  padding-right: 40px;
}
.hero-video{
  border-radius: 40px;
  max-width: 1440px;
  height: 644px;
  width: 100%;
  border-radius: 40px;

  z-index: -1;
  object-fit: cover;
}

.hero-block .hero-text {
  position: absolute;
  top: 0px;
  left: 140px;
  display: flex;
  max-width: 530px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding-top: 100px;
  padding-bottom: 100px;

}

.hero-block h1 {
  color: #E1D4C9;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
}
.hero-block h1 span {
  color: #B0907A;
  font-style: italic;
}

.hero-block .hero-text p {
  color: #E1D4C9;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.hero-block .hero-button {
  display: flex;
  max-width: 200px;
  padding: 20px 78px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: #E1D4C9;
  cursor: pointer;
  color: #E1D4C9;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  color: #403F3D;
  font-weight: 600;
  border: none;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.hero-block .hero-button:hover {
  transition: background 0.3s, transform 0.3s;
}
.hero-block .hero-button:hover span {
  transform: translateX(-5px);
}
.hero-block .hero-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 123px;
  width: 30px;
  height: 100%;
  background: url(icons/coffee-cup.svg) no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity 0.3s, right 0.3s;
}
.hero-block .hero-button:hover::after {
  opacity: 1;
  right: 0;
}

.favorite-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1440px;
  margin-top: 1px;
  gap: 20px;
  height: 825px;
}

.favorite-block h2 {
  color: #403F3D;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-top: 18px;
}
.favorite-block h2 span {
  color: #B0907A;
  font-style: italic;
}


.favorite-container {
  padding-left: 2px;
  padding-right: 2px;
  margin-top: 20px;
  width: 1360px;
  height: 710px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.slide-first, .slide-second {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid #665F55;
  cursor: pointer;
  margin-bottom: 20px;
}
.slide-first .svg-white, .slide-second .svg-white {
  display: none;
}
.slide-first:hover, .slide-second:hover {
  background-color: #665F55;
}
.slide-first:hover svg, .slide-second:hover svg {
  display: none;
}
.slide-first:hover .svg-white, .slide-second:hover .svg-white {
  display: block;
}


.slider-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  max-width: 480px;
  gap: 25px;
  padding-bottom: 20px;
  transition: transform 3s ease-in-out;
}
.slider-block{
  display: none;
}

.primary{
  display: block;
  transition: opacity 0.5s ease;
}

.slider-content .coffee-name {
  font-size: 24px;
  font-weight: 600;
  color: #403F3D;
}
.slider-content .slider-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.slider-content .slider-info p {
  color: #403F3D;
  line-height: 25px;
}
.slider-content .coffee-price {
  font-size: 24px;
  font-weight: 600;
  color: #403F3D;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding-bottom: 10px;
}

.control-item {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: #C1B6AD;
  transition: background-color 0.5s ease;
}
.active{
  background: #665F55;
}

/* About start */
.about {
  display: flex;
  align-items: center;
  max-width: 1440px;
  flex-direction: column;
  height: 1325px;
  margin-top: 100px;
}

.about h2 {
  color: #403F3D;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  text-align: start;
  padding-left: 40px;
  margin-top: -7px;
}
.about h2 span {
  color: #B0907A;
  font-style: italic;
}

.about-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  margin-top: 40px;
  max-width: 1360px;
  width: 100%;
  height: 1060px;
}

.column-1, .column-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.column-1 .first-wrapper, .column-2 .first-wrapper {
  width: 660px;
  height: 590px;
}

.column-1 .second-wrapper, .column-2 .second-wrapper {
  width: 660px;
  height: 430px;
}
.column-1 div, .column-2 div {
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  border-radius: 20px;
}
.column-1 img, .column-2 img {
  border-radius: 20px;
  transform: scale(1.1);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease-in-out;
}
.column-1 img:hover, .column-2 img:hover {
  border-radius: 20px;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}


.mobile-app {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  max-width: 1440px;
  height: 630px;
  gap: 100px;
  margin-top: 100px;
}
.mobile-app .mobile-offer {
  margin-top: -11px;
  max-width: 630px;
  height: 342px;
  display: flex;
  align-items: center;
  gap: 40px;
  align-items: start;
  flex-direction: column;
}

.mobile-app .mobile-offer h2 {
  color: #403F3D;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  text-align: start;
}
.mobile-app .mobile-offer h2 span {
  color: #B0907A;
  font-style: italic;
}

.mobile-app .mobile-offer p {
  color: #E1D4C9;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  color: #403F3D;
}

.mobile-app .buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: -3px;
}

.mobile-app .button {
  max-width: 200px;
  padding: 11px 20px;
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: start;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #665F55;
  background-color: #E1D4C9;
  cursor: pointer;
}
.mobile-app .button .svg-white {
  display: none;
}
.mobile-app .button:hover {
  background-color: #665F55;
  transition: 0.3s ease-in-out;
}
.mobile-app .button:hover svg {
  display: none;
}
.mobile-app .button:hover .svg-white {
  display: block;
}
.mobile-app .button:hover p {
  font-weight: 600;
  color: #E1D4C9;
}
.mobile-app .button:hover span {
  font-size: 10px;
  color: #E1D4C9;
}
.mobile-app .button div {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: start;
}
.mobile-app .button div p {
  color: #403F3D;
  font-weight: 600;
}
.mobile-app .button div span {
  font-size: 10px;
  color: #403F3D;
}

.mobile-screen {
  margin-top: -5px;
}


footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
  max-width: 1360px;
  width: 100%;
  margin-top: 95px;
  height: 450px;
  border-radius: 40px;
  background-color: #665F55;

  padding-left: 100px;
}

/* .footer-content {
  padding-left: 100px;
  padding-right: 100px;
} */

.footer-offer {
  max-width: 530px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  align-items: start;
}

.footer-offer .offer-text h2 {
  color: #403F3D;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: #E1D4C9;
  text-align: start;
}
.footer-offer .offer-text h2 span {
  color: #B0907A;
  font-style: italic;
}

.footer-offer .offer-social {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer-offer .offer-social button {
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
  justify-content: center;
  background-color: #665F55;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  cursor: pointer;
}
.footer-offer .offer-social button .svg-white {
  display: none;
}
.footer-offer .offer-social button:hover {
  background-color: #E1D4C9;
  transition: 0.3s ease-in-out;
}
.footer-offer .offer-social button:hover svg {
  display: none;
}
.footer-offer .offer-social button:hover .svg-white {
  display: block;
}

.contacts-info {
  display: flex;
  align-items: center;
  margin-top: -7px;
  flex-direction: column;
  align-items: start;
  gap: 40px;
  max-width: 530px;
}

.contacts-info h3 {
  color: #E1D4C9;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}

.contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: start;
  gap: 22px;
}
.contacts a {
  position: relative;
  color: #403F3D;
  text-decoration: none;
}
.contacts a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #E1D4C9;
  transform: scaleX(0);
  transform-origin: bottom center;
  transition: transform 0.3s ease-in-out;
}
.contacts a:hover::before {
  transform: scaleX(1);
}
.contacts .contact-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: flex-end;
  gap: 8px;
  text-decoration: none;
}
.contacts .contact-item p {
  color: #E1D4C9;
  font-weight: 600;
  padding-top: 2px;
}
